.places {
  width: 100%;
  display: grid;
  justify-items: center;
  padding: 0;
  padding-bottom: 66px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .places {
      padding: 0 24px;
      padding-bottom: 90px;
  }
}

@media (min-width: 1024px) {
  .places {
      padding: 0 48px;
      padding-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .places {
      padding: 0 148px 92px;
  }
}
