.intro {
  box-sizing:border-box;
  width: 100%;
  padding-bottom: 64px;
  padding: 0 16px ;
}
@media (min-width: 768px) {
  .intro {
    padding: 0 24px;
    padding-bottom: 88px;
  }
}
@media (min-width: 1024px) {
  .intro {
    padding: 0 48px;
    padding-bottom: 92px;
  }
}
@media (min-width: 1280px) {
  .intro {
    padding: 0 148px;
    padding-bottom: 92px;
  }
}
