.place__paragraph {
  max-width: 288px;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  margin: 0;
  padding: 0 16px;
}
.place-paragraph:first-child {
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .place__paragraph {
    padding: 0;
    max-width: 352px;
  }
  .place-paragraph:first-child {
    padding-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .place__paragraph {
    padding: 0;
    max-width: 456px;
    font-size: 18px;
  }
  .place-paragraph:first-child {
    padding-bottom: 27px;
  }
}
@media (min-width: 1280px) {
  .place__paragraph {
    padding: 0;
  }
  .place-paragraph:first-child {
    padding-bottom: 26px;
  }
}
