.cover__title {
  max-width: 288px;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 0;
  min-width: 288px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    padding-bottom: 32px;
  }
}
