.footer {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media (min-width: 768px) {
  .footer {
      padding-top: 88px;
      padding-bottom: 24px;
      flex-direction: row;
      justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .footer {
      padding-top: 92px;
      padding-bottom: 24px;
  }
}
